*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea{
    width: 600px;
    height: 250px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
    background: #403d84;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder{
    color: #fff;
    font-size: 16px;
}

.voice-slct-btn{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    width: 140px;
    height: 45px;
    border: none;
    outline: none;
    background: #f44364;
    color: #fff;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
}

select {
    flex: 1;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding: 0 20px;
    background: #403d84;
    color: #fff;
    border: 0;
    outline: 0;
    appearance: none;
    background-image: url(https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}

.error {
    animation:  shake .3s linear 4;
}
@keyframes shake {
    0%{transform: translateX(0);}
    25%{transform: translateX(-2px);}
    50%{transform: translateX(0);}
    75%{transform: translateX(-2px);}
    100%{transform: translateX(0);}
}